/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-05-2015, 09:07:56
    Author     : tfpet
*/
#oc-comments-wrap
{
    min-width: 100%;
}
#oc-comments-wrap textarea
{
    
}
.comment {
    border-bottom: 1px dashed lightgray;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin: 10px;
    padding: 5px;
    float:left;
    width: 97%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#comment_logo
{
    float: right;
    width: 25px;
    height: 25px;
    margin-right:5px;
}
.oc_comment_parent
{
    border: 1px solid lightgray !important;
}
.oc_comment_child
{
    margin:4px;
    padding-left: 15px;
    margin-left: 25px;
    width: 75% !important;
}
.comment-new {
    background: aliceblue;
}

.comment .links a 
{
    background: #C7EAED;
    padding: 4px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgray;

    margin-left: 3px;
}
.oc_comment_btn
{
    background: #C7EAED;
    padding: 4px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgray;
    float: right;
    margin-left: 3px;
    margin-top: 5px;
}
.comment-form .form-textarea 
{
    resize:none;
    
}

.comment h3 
{
    display: none;
}
.comment-form .form-submit 
{

    background: #C7EAED;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 2px 10px 2px 10px;
    margin-top: 10px;
    float:right;
    cursor: pointer;
}
.comment-legend 
{
    float: right;
    color: #69c8cf;
    font-weight: 700;
}
.indented
{
    
}
.indented-shown{
    display: block;
}
.indented-hidden{
    display:none;
}
.oc_comment_btn
{
    cursor: pointer;
}
#oc-comment-login-btn-wrap
{
    text-align:center;
    min-width: 90%;
}
.oc_comment_large_login_btn
{
    color:white !important;
    width: 100px;
    line-height: 100px;

}
.oc-comment-form-box
{
    margin-top: 10px;
    display:none;
    float:left;
    width: 100%;
}
.oc-comment-form-box .oc_comment_btn
{
    margin-top: 10px;
}
.oc-comment-form-box textarea
{
    resize: vertical;
}
.ding-user-comment-forbidden-form
{
    display:none;
}
.oc-comment-approval-required
{
    background: lightcyan;
}
.comment_content
{
    padding-top: 5px;
    font-size: 17px;
    white-space: pre;
    line-height:100%;
   
}
.oc_comments_reply_bar
{
    background-color: #69c8cf;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.oc_comment_word_limit
{
    padding: 10px;
    color: black;
    border-radius: 4px;
    float: right;
    margin-left: 3px;
    margin-top: 5px;
}
.pager
{
    float: left;
    width: 99%;
}
.oc-comments-terms-links
{
    padding: 5px;
    color: black;
    border-radius: 4px;
    float: right;
    margin-left: 3px;
    margin-top: 5px;
    font-size: 17px;
}